body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  width: 28%;
}
.main-content {
  background-color: #121212;
  flex: 1;
  overflow: auto;
  margin: 0.7rem;
  margin-left: 0;
  border-radius: 1rem;
}
.footer {
  background-color: black;
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 9%;
}
.nav-item {
  background-color: #121212;
  width: 95%;
  height: 8rem;
  border-radius: 1rem;
  margin: 0.7rem;
}
.nav-home {
  color: white;
  background-color: #121212;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
  line-height: 0.2rem;
  border-radius: 1rem;
  padding-top: 0.6rem;
}
.nav-home h3 {
  font-size: 1.3rem;
  padding-left: 1rem;
  opacity: 0.7;
}
.nav-home i {
  font-size: 1.5rem;
  opacity: 0.7;
}
.nav-home h3:hover {
  opacity: 1;
}
.nav-home i:hover {
  opacity: 1;
}
.sidebar-library {
  background-color: #121212;
  width: 95%;
  height: 10vh;
  border-radius: 1rem;
  margin: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library-icon {
  display: flex;
  color: white;
  padding: 1rem;
}

.library-icon img {
  height: 1.7rem;
  padding-top: 1rem;
  opacity: 0.7;
}
.library-icon h3 {
  font-size: 1.2rem;
  padding: 0.35rem 0 0 1rem;
  opacity: 0.7;
}

.library-plus i {
  color: white;
  font-size: 1.3rem;
  margin: 1rem;
  opacity: 0.7;
}
.library-icon img:hover {
  opacity: 1;
}
.library-icon h3:hover {
  opacity: 1;
}
.library-plus i:hover {
  opacity: 1;
}
.create-playlist {
  color: white;
  background-color: #1f1f1f;
  border-radius: 1rem;
  margin: 0.7rem;
  height: 100vh;
}
.create-playlist h3 {
  font-size: 1rem;
  padding: 1rem 0 0 1rem;
}
.create-playlist p {
  font-size: 1rem;
  opacity: 0.9;
  padding: 0.3rem 0 0 1rem;
}
.btn {
  padding: 1rem 0 0 1rem;
}
.btn button {
  height: 2rem;
  background-color: white;
  color: black;
  border: none;
  font-weight: 800;

  padding: 0 0.8rem 0 0.8rem;
  border-radius: 1rem;
}
.hr {
  border-top: 0.1px solid white;
  width: 90%;
  margin: 2rem 0 0 1rem;
}
.dark button {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1.6rem;
}
.dark button i {
  margin-right: 0.5rem;
}
/* <!-- main content --> */
.sticky-nav {
  display: flex;
  justify-content: space-between;
  background-color: #111111;
  position: sticky;
  top: 0;
  z-index: 10;

  height: 9vh;
}
.control-icon {
  margin: 0.6rem;
}
.control-icon img {
  height: 2rem;
  width: 2rem;
  padding: 0.4rem;
  background-color: #090909;
  border-radius: 40%;
}
.control-btn {
  color: white;
  display: flex;
  align-items: center;
  /* padding-right: 2rem; */
  padding-bottom: 1rem;
}
.control-btn button {
  margin-right: 1.3rem;
  height: 2rem;
}
.control-btn .dark {
  color: white;
  background-color: black;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.control-btn .dark span {
  font-size: 1.6rem;
}
.control-btn i {
  margin-right: 1rem;
  font-size: 1.5rem;
}
.content-heading {
  color: white;
  padding-left: 2rem;
  font-size: 2rem;
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem;
}
.cards {
  background-color: #1f1f1f;
  height: 50vh;
  width: 35vh;
  border-radius: 1rem;
  margin-top: 1rem;
}
.cards img {
  width: 95%;
  height: 60%;
  border-radius: 1rem;
  padding: 0.5rem 0 0 0.3rem;
}
.cards h2 {
  color: white;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.cards p {
  opacity: 0.6;
  color: white;
  padding-left: 0.7rem;
}
/* footer section */
.player {
  color: white;
  width: 25%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  padding: 1rem;
}
.player-img img{
  height: 3rem;
  border-radius: 0.3rem;
}
.player-text h2{
  height: 0.1rem;
 font-size: 0.9rem;
 margin-left: 0.8rem;
}
.player-text p {
   padding-left: 0.8rem;
   opacity: 0.7;
}
.player-logo{
  margin-left: 1rem;
  opacity: 0.7;
}
.player-logo span{
  font-size: 1.7rem;
}
.player-logo:hover{
  opacity: 1;
}
.progress-bar {
  color: white;
  width: 50%;

  display: flex;
  flex-direction: column;

  align-items: center;
}
.controls {
  color: white;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.controls span{
    font-size: 2rem;
    padding-right: 2rem;
    opacity: 0.7;
}
.controls span:hover{
  opacity: 1;
  transform: scale(1.1);
}






.progress-bar img {
  height: 1.1rem;
  padding: 0.5rem 2rem 0 0;
}
.progress-bar .icon3 {
  height: 1.7rem;
}
.progressbar-input {
  width: 70%;
}
.progressbar-input input {
  appearance: none;
  background-color: transparent;
  width: 80%;
}
.progress-bar input::-webkit-slider-runnable-track {
  background-color: white;
  height: 0.1rem;
}
.progress-bar input::-webkit-slider-thumb {
  appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  background-color: green;

  border-radius: 50%;
  margin-top: -6px;
}

